<template>
  <div class="addTrans form-container-wrap">
    <div class="container">
      <h2 class="form-title form-register-title">Добавить транзакцию</h2>

      <div class="form-wrapper form-register-wrap">
        <form>
          <input type="text" class="form-input" placeholder="Из кошелька" />
          <input type="number" class="form-input" placeholder="Сумма" />

          <input type="text" class="form-input" placeholder="Категория" />
          <button class="form-btn form-register-btn">Добавить</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>