<template>
  <div class="register-wrap form-container-wrap">
    <div class="container">
      <h2 class="form-title form-register-title">Регистрация</h2>

      <div class="form-wrapper form-register-wrap">
        <form @submit.prevent='REGISTER()'>
          <input
            type="email"
            class="form-input"
            placeholder="Почта"
            name="email"
          />
          <input type="text" class="form-input" placeholder="Имя" name="name" />
          <input
            type="text"
            class="form-input"
            placeholder="Фамилия"
            name="secondName"
          />
          <input
            type="password"
            class="form-input"
            placeholder="Пароль"
            name="password"
          />
          <button class="form-btn form-register-btn">Продолжить</button>

          <p class="register-another-acc">
            <router-link to="/signin">Войти в аккаунт</router-link>
          </p>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  methods: {
    ...mapActions([ 'REGISTER'])
  }
};
</script>

<style>
</style>