<template>
  <div class="signIn form-container-wrap">
    <div class="container">
      <h2 class="form-title form-register-title">Войти в аккаунт</h2>

      <div class="form-wrapper form-register-wrap">
        <form>
          <input type="text" class="form-input" placeholder="Почта" />
          <input type="password" class="form-input" placeholder="Пароль" />
          <button class="form-btn form-register-btn">Продолжить</button>
        </form>

        <p class="register-another-acc">
          <router-link to="/registration">Регистрация</router-link>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>